/* Personalização geral */
 
/* Fonte de Letras */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
 
/* Retira bordas, margens. Adicona a Fonte,
    e deixa que os elementos filhos não utrpassem os elementos pais.*/
* {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: Exo;
    box-sizing: border-box;
}

/*Corpo do Projeto*/
body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

/* Estilização dos Botões */
button {
    background-color: rgba(255, 255, 255, 0.3);
    color: whitesmoke;
    border: none;
    border-bottom: 2px solid red;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
 
    i {
        color: black;
    }
}
 
button:hover {
    border-radius: 8px;
    background-color: red;
    color: white;
 
    i {
        color: white;
    }
}
 
button i {
    pointer-events: none;
}

/* Estilização dos Campos de Textos */
input,
select {
    max-width: 190px;
    background-color:rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 0.25rem 0.5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
   
}
 
input,
select:focus {
    border-bottom: 2px solid red;
    border-radius: 4px 4px 2px 2px;
}
 
input,
select:hover {
    outline: 1px solid lightgrey;
}

/* Personalizações gerais finalizada */
 
/* Esconder auxilio para o JavaScript*/
.hide {
    display: none;
}

/* Centralização e personalização do conteiner do ToDoList*/
.todo-conteiner {
    max-width: 450px;
    margin: 3rem auto;
    background-color: black;
    padding: 1.5rem;
    border-radius: 15px;
}

/* Cabeçalho do ToDoList */
.todo-conteiner header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #5a5757;
}

/* Personalização dos campos do formulário */
    /* Adiciona margem e separa com uma linha  */
    #todo-form, #edit-form {
        padding: 1rem;
        border-bottom: 1px solid #CCC;
    }

  /* Parágrafo e fonte no texto acima dos inputs*/
  #todo-form p, #edit-form p{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

  /* Alinha os componentes todo-form e edit-form presentes na div form-control*/
  .form-control{
    display: flex;
}

    /* Mini espaçamento do input para o botão*/
    .form-control input{
        margin-right: 0.3rem;
    }
     
     
        /* Mini espaçamento do botão cancelar para o input*/
    #cancel-edit-btn  {
        margin-top: 1rem;
    }
     
       
    /* Barra de Ferramentas */
        /* Alinha os campos pesquisa e filtro */
    #toolbar {
        padding: 1rem;
        padding-bottom: 1px solid #CCC;
        display: flex;
    }
     
     
        /* Espaçamento do texto com os campos*/
    #toolbar h4 {
        margin-bottom: .5rem;
    }
     
     
        /* Espaçamento do campo pesquisa para o campo de
         filtro com uma linha */
    #search {
        border-right: 1px solid #ddd;
        padding-right: 1rem;
        margin-right: 1rem;
        width: 65%;
        display: flex;
        flex-direction: column;
    }
     
     
        /* Alinha botão de apagar com o campo de pesquisa */
    #search form {
        display: flex;
    }
     
     
        /* Mini espaçamento entre o botão apagar e o campo de pesquisa */
    #search input {
        width: 100%;
        margin-right: 0.3rem;
    }
     
     
        /* Espaçamento do campo flex e deixe o botão select abaixo*/
    #filter {
        width: 35%;
        display: flex;
        flex-direction: column;
    }
        /* Aumenta a largura do select */
    #filter select {
        flex: 1;
    }
     
    /* Lista do "ToDoList" */
     
    /* Espaçamento dos afazeres */
    .todo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
        transition: .3s;
    }
     
     
    /* Espaçamento do texto */
    .todo h3 {
        flex: 1;
        font-size: 0.9rem;
    }
     
     
    /* Espaçamento dos botões */
    .todo button {
        margin-left: .4rem;
    }
     
     
    /* Estilização para quando a tarefa estiver pronta */
    /* Cor de Fundo */
    .done {
        background-color:red;
        border-radius: 5px;
    }
    /* Personalização do texto */
    .done h3 {
        color: #fff;
        text-decoration: line-through;
        font-style: italic;
    }
     
    /* Opções personalizadas */
    option {
        color: white;
        background-color: black;
    }
     
    /* Formulário Finalizado */
     
 